.header {
  background-color: #007b8a;
  color: #ffffff;
  padding: 2vh 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.8rem;
    flex: 1 1 auto;

    .header__logo-icon {
      width: 100px;
      max-width: 100px;
      height: 100px;
    }

    .logo {
      font-size: 4vw;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .btn {
      background-color: #00c2cb;
      color: white;
      padding: 0.6em 1.2em;
      font-size: 1rem;
      border-radius: 6px;
      border: none;
      font-weight: 500;
      flex: 0 0 auto;
      cursor: pointer;

      &:hover {
        background-color: #009aa6;
      }
    }
  }
}