<header class="header">
  <div class="logo-container" (click)="router.navigate([''])">
    <img src="assets/icons/icono-goservice-azul.png" alt="Icono GoService" class="header__logo-icon">
    <span class="logo">GoService</span>
  </div>
  <nav>
    <button class="btn" (click)="router.navigate(['login'])">Iniciar Sesión</button>
    <button class="btn" (click)="router.navigate(['register'])">Registrarse</button>
    <button class="btn" (click)="router.navigate(['servicios'])">Ver Servicios</button>
  </nav>
</header>
