<h1>Servicios Disponibles</h1>

<div class="servicio-grid">
  <div *ngFor="let servicio of servicios" class="tarjeta">
    <img
      [src]="getIcon(servicio.categoria, 'blanco')"
      alt="Icono {{ servicio.categoria }}"
      class="icono-servicio"
    />
    <h2>{{ servicio.titulo }}</h2>
    <div class="contenido">
      <p><strong>Descripción:</strong> {{ servicio.descripcion }}</p>
    </div>
    <div class="botones">
      <button (click)="onBuscar()">Buscar</button>
      <button (click)="onOfrecer()">Ofrecer</button>
    </div>
  </div>
</div>
