.home-banner {
  background: linear-gradient(to bottom right, #00c2cb, #007b8a);
  color: white;
  min-height: 100vh;
  padding: 8vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 h1 {
    font-size: clamp(2.5rem, 10vw, 4rem); // Tamaño que escala y nunca baja de 2.5rem ni sube de 4rem
    font-weight: 700;
    text-align: center;
  }

  p {
    font-size: 2.5vw;
    margin-bottom: 3vh;
  }

  .btn-cta {
    background-color: white;
    color: #007b8a;
    font-weight: 600;
    padding: 1em 2em;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #d0f3f6;
    }
  }
}

.quienes-somos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6vh 4vw;
  gap: 4vw;
  background-color: #effafa;

  .quienes-text {
    flex: 1 1 45%;
    max-width: 600px;

    h2 {
      font-size: 4vw;
      margin-bottom: 2vh;
      color: #007b8a;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  .quienes-imagen {
    flex: 1 1 40%;
    max-width: 400px;

    img {
      width: 100%;
      border-radius: 12px;
    }
  }
}

.servicios-preview {
  background-color: #effafa;
  padding: 8vh 4vw;
  min-height: 100vh;

  h2 {
    color: #007b8a;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 4vh;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2vw;

    .card {
      background: linear-gradient(to bottom right, #00c2cb, #009aa6);
      border-radius: 14px;
      padding: 2rem;
      color: white;
      font-size: x-large;
      text-align: center;
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.5s, box-shadow 0.5s;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
      }
    }
    
  }

  .btn-secondary {
    margin: 5vh auto 0;
    background-color: #00c2cb;
    color: white;
    padding: 0.9rem 2rem;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: 600;
    display: block;
    width: max-content;

    &:hover {
      background-color: #009aa6;
    }
  }
}